# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
env/
ENV/

# IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Project specific
.env
.coverage
htmlcov/
alembic/versions/*.py
!alembic/versions/__init__.py

# Linters and formatters
.pytest_cache/
.mypy_cache/
.coverage
.tox/
.nox/
.pylint.d/
.ruff_cache/
